@charset "UTF-8";

.open-button {
	background-color: #CB7999;
  	color: #FFFFFF;
  	cursor: pointer;
  	position: fixed;
  	bottom: 23px;
  	right: 28px;
  	width: 54px;
  	height: 54px;
  	border-radius: 75px;
  	text-align: center;
  	line-height: 65px;
  	box-shadow: 0px 8px 5px 0px lightgray;
  	z-index: 5000;
}

.open-button:hover {
	cursor: pointer;
}

.chaticon {
	font-size: 25px;
}

.chat-popup {
	display: none;
	position: fixed;
	bottom: 91px;
	right: 26px;
	z-index: 5000;
	border-radius: 5px;
	box-shadow: 0px 5px 5px 3px lightgray;
	width: 450px;
}

.chattopmenu {
	width: 450px;
	height: 40px;
	background-color: #D592AC;
	border-radius: 5px 5px 0px 0px;
}

.chattarget {
	width: 450px;
	height: 50px;
	background-color: #D592AC;
}

.form-container {
	max-width: 450px;
	background-color: #fff;
}

.form-container textarea {
	width: 100%;
	border: none;
	background: #fff;
	resize: none;
	min-height: 60px;
	padding: 0px;
}

.form-container textarea:focus {
	background-color: #efefef;
	outline: none;
}

.chat {
	display: none;
 	position: fixed;
	bottom: 94px;
	right: 26px;
	z-index: 5000;
	max-width: 450px;
	background-color: #fff;
	box-shadow: 0px 5px 5px 3px lightgray;
	border-radius: 5px;
}

.chat>* {
	width: 450px;
}

.chatlogo {
	border-radius: 5px 5px 0px 0px;
	border-bottom: 1px solid #E8E8E8;
}

.chatlogo>* {
	display:inline-block;
}

.imgdiv {
	padding: 5px 0px 5px 5px;
}

.xbtn {
	width: 20px;
	float: right;
	padding: 10px 5px 0px 0px;
}

.xbtn:hover {
	cursor: pointer;
}

#whitexbtn {
	color: #fff;
}

.lastdiv {
	background-color: #D592AC;
	height:50px;
	border-radius: 0px 0px 5px 5px;
}

.chathr {
	margin: 0;
}

.chatlist {
	overflow-y: auto;
	height: 500px;
}

.chatlist > div {
	height: 80px;
}

.chatusericon {
	font-size: 40px;
	height: 40px;
	margin: 20px 15px;
	float: left;
}

.chatusericon > svg {
	vertical-align: .125em;
}

.chattext {
	float: left;
	height: 40px;
	margin: 20px 0px;
}

.chattime {
	float: right;
	height: 40px;
	margin: 20px 0px;
	width: 65px;
	font-size: 10px;
}

.chatcount {
	border-radius: 75px;
	background-color: #D592AC;
	color: #fff;
	width: 20px;
	height: 20px;
	text-align: center;
	margin-left: 30px;
	margin-top: 5px;
	line-height: 18px;
}

.newchatbtn {
	float: right;
	display: inline-block;
	font-size: 25px;
	width: 40px;
	height: 22px;
	color: #fff;
	margin-top: 7px;
}

.chatsetting {
	float: right;
	display: inline-block;
	font-size: 25px;
	width: 40px;
	height: 22px;
	color: #fff;
	margin-top: 7px;
}

.chatlistline {
	border-bottom: 1px solid #E8E8E8;
}

.chatlistline:hover {
	background-color: #efefef;
	cursor: pointer;
}

.backbtn {
	font-size: 16px;
	width: 20px;
	float: left;
	padding: 8px 0px 0px 10px;
	display: inline-block;
	color: #fff;
}

.backbtn:hover {
	cursor: pointer;
}

.chatuserimg {
	float: left;
	overflow: hidden;
    margin: 20px 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.chatuserimg > img {
	width: 40px;
}

.chattarget .chatuserimg {
	margin: 0px 5px;
}

.chatuser {
	float:left;
}

.chatusername, .chatuserdept {
	color: #fff;
}

.chatlastdiv {
	height: 40px;
}

.filebtn {
	float: left;
	font-size: 20px;
	padding-left: 10px;
	margin: 5px 0px 0px 0px;
}

.filebtn:hover {
	cursor: pointer;
}

.sendbtn {
	float:right;
	font-size: 25px;
	padding-right: 5px;
	margin: 3px 8px 0px 0px;
}

.sendbtn:hover {
	cursor: pointer;
}

.chathistory {
	border-bottom: 1px solid #C7C7C7;
	height: 500px;
	overflow-y: auto;
}

.filebox {
	float: right;
	font-size: 18px;
	color: #fff;
	width: 30px;
	line-height: 40px;
}

.filebox:hover {
	cursor: pointer;
}

.mychat {
	text-align: right;
}

.yourchat {
	text-align: left;
}

.innerchattime {
	display: inline-block;
	font-size: 10px;
	color: #c7c7c7;
}

.chatbox {
	display: inline-block;
	padding: 10px;
	width: auto;
	border: 1px solid #E5E5E5;
	border-radius: 5px;
	overflow-x: hidden;
}

.chatbox > img {
	width: 100%;
	max-height: 400px;
}

.yourchat > .chatbox {
	margin: 20px 0px 0px 20px;
	max-width: 285px;
	white-space: normal;
	word-break: break-all;
}

.mychat > .chatbox {
	margin: 20px 20px 0px 0px;
	max-width: 285px;
	white-space: normal;
	word-break: break-all;
	text-align: left;
}

#filebox_pop {
	max-width: 1000px;
}

.file_imgbox {
	width: 960px;
	text-align: left;
	overflow-y: auto;
	max-height: 615px;
	margin-left: 10px;
}

.file_imgbox > td {
	padding: 0 5px;
}

.filediv {
	border: 1px solid #000;
	width: 300px;
	height: 200px;
	display: inline-block;
	overflow: hidden;
}

.filediv > img {
	width: 100%;
 }
 
 .overheight > img {
	transform: translateY(-25%);
 }

.fileimgdiv > svg {
	font-size: 50px;
}

.filebox_title {
	margin-bottom: 30px;
}

.fileimgdiv {
	padding-top: 60px;
	padding-bottom: 10px;
}

.multichatusername {
	color: #fff;
	line-height: 40px;
}
 
.thumbnail-wrapper { border: 1px solid #ccc7c7; width: 32%; display: inline-block; } 
.thumbnail { position: relative; padding-top: 70%; overflow: hidden; } 
.thumbnail .centered { position: absolute; top: 0; left: 0; right: 0; bottom: 0; -webkit-transform: translate(50%,50%); -ms-transform: translate(50%,50%); transform: translate(50%,50%); } 
.thumbnail .centered img { position: absolute; top: 0; left: 0; max-width: 100%; height: auto; -webkit-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); transform: translate(-50%,-50%); }
.thumbnail .centered-icon { position: absolute; top: 0; left: 0; right: 0; bottom: 0; -webkit-transform: translate(50%,50%); -ms-transform: translate(50%,50%); transform: translate(50%,50%); } 
.thumbnail .centered-icon svg { color: #76778c; font-size: 50px; position: absolute; top: -10px; left: 0; max-width: 100%; height: auto; -webkit-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); transform: translate(-50%,-50%); }
.thumbnail .centered-icon span { font-size: 15px; position: absolute; top: 30px; left: 0; max-width: 100%; height: auto; -webkit-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); transform: translate(-50%,-50%); }
