@charset "UTF-8";

/* nav메뉴바 */

/* 필독, 내가 쓴 글 전체컨테이너 조정  */
.head_menu {
   display: flex;
   text-align: center;
   border-bottom: 1px solid rgba(203, 121, 155, .3);
}

/* 필독 위치 조정 */
.must_read_list {
   position: relative;
   left: 23px;
   top: 3px;
}

/*내가 쓴 글 위치 조정*/
.my_board {
   position: relative;
   left: 78px;  
}

/* ------------------ nav메뉴바 끝 ------------------ */

/* 게시물 목록 페이지 */

/* 본페이지 */

/* 검색창기준으로 위치조정 */
form > .main_cnt {
	text-align: right;
	padding-top: 100px;
}

.tbl_common .tbl_wrap .tbl_ctn {
	text-align-last: center; 
}

/* 필독 */
td:nth-of-type(1)>div {
	color: #fff;
    padding: 8px 0;
	background: #CB7999;
}

/* 게시글 정보 */
td:nth-of-type(2)>div {
	text-align-last: left;
}

/* 게시글 제목 */
td>div>div:nth-of-type(1) {
	cursor: pointer;
	font-weight: bold;
	color: #44455B;
}

/* 게시글정보 */
td>div>div>span {
	border-right: 1px solid #9899AB;
	padding-right: 7px;}
	
/* 필독 */
td:nth-of-type(1)>div {
	color: #44455B;
	margin: 20px 0;
}

/* 게시글정보 위 여백 */


/* 게시글정보 */
td>div>span {
	border-right: 1px solid #9899AB;
	padding: 0 5px;
	margin-top: 10px;
}

/* 조회수부분 오른쪽테두리 제거 */	
td>div>div>span:nth-of-type(3) {
	border: none;
	padding: 0;
}

/* 시간표시 */
td:nth-of-type(3)>div {
	color: #696A7A;
	position: relative;
    right: 22px;
}

/* ------------------ 게시물 목록 페이지 끝 ------------------ */

/* 게시물 작성 페이지 */
   
   #btnSet {
      text-align: right;
   }
   
   #check>label {
      vertical-align: 12px;
   }
   
   #kinds>select {
      margin-left: 20px;
   }
   
   #title {
      margin-top: 10px;
   }

   #title>input {
      margin-left: 67px;
      width: 92%;
   }
   
   .fr-view {
	margin: 30px 0;
    position: relative;
    width: 97%;
    left: 36px;
}

input.upload_text {/*읽기전용 인풋텍스트*/
	float:left;
	width:353px;/* 버튼 포함 전체 가로 길이*/
	height:32px;
	line-height:19px;
	padding:0 3px;
	border:1px solid #bbb;
	margin: 0 8px;
}

div.upload-btn_wrap input.input_file {/*파일찾기 폼 투명하게*/
	position: absolute;
    left: 370px;
    width: 68px;
    cursor: pointer;
    opacity: 0;
	filter:alpha(opacity=0);
	-ms-filter:"alpha(opacity=0)";
	-moz-opacity:0;
}

.attActions:nth-child(1) {
	position: relative;
    margin-left: 107px;
    bottom: 31px;
}

.attAction {
	margin-bottom: 9px;
}

.attActions {
	position: relative;
    margin-left: 107px;
    bottom: 31px;
}

button.btn_solid_pink {
	padding: 0 10px;
	margin-left: 8px;
}

.endBtnSet {
	text-align: right;
}

/* ------------------ 게시물 작성 페이지 끝 ------------------ */

/* 게시물 상세보기 페이지 */

.btn_set {
	text-align: right;
	border-bottom: 1px solid #CACDD4;
	padding-bottom: 6px;
}
	
.must_read {
	color: #fff;
	background: #CB7999;
	padding: 6px 12px;
}

.title {
	margin-top: 16px;
	padding-left: 10px;
}

.title>span:nth-of-type(2) {
	font-weight: bold;
}

.board_info {
	margin-top: 14px;
	padding-bottom: 25px;
	padding-left: 10px;
	border-bottom: 1px solid rgba(202, 205, 212, .26);
}

.board_info>span {
	padding-right: 7px;
	color: #696A7A;
	border-right: 1px solid #9899AB;
}

.board_info>span:nth-of-type(3) {
	border: none;
}

.fr-view {
	margin-bottom: 50px;
}

.att_info {
	margin-top: 50px;
}

.att_info>span:nth-of-type(1) {
	color: #696A7A;
	border-right: 1px solid #696A7A;
	padding-right: 7px;
}

.btn_save {
	margin-left: 11px;
}

.comment_area {
	margin-left: 36px;
	border-bottom: 1px solid #CACDD4;
	padding-bottom: 40px;
}

.comment_count {
	padding-bottom: 8px;
	margin-top: 40px;
	border-bottom: 1px solid #CACDD4;
}

.comment_and_reply {
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(202, 205, 212, .26);
    margin: 25px 24px 0;
}

.btn_reply {
    padding: 0 10px;
}

.comment_wt, .reply_wt {
	margin-bottom: 10px;
}

.time {
	margin-left: 10px;
	font-size: 12px;
	color: #9A9A9A;
}

.comment_content, .reply_content {
	margin-bottom: 14px;
}

.fa-long-arrow-alt-right {
	font-size: 20px;
    position: relative;
    top: 19px;
    right: 42px;
    color: #B7B9BF;
}

.reply {
	padding-left: 60px;
}

.write_comment_area {
    margin: 25px 24px 0;
    border: 1px solid #CACDD4;
    border-radius: 5px;
}

.write_reply_area {
	margin: 0;
}

.write_reply_area>insert_comment {
	height: 75px;
}

.insert_comment {
	border: 1px solid #fff;
    border-radius: 5px;
    width: 97.5%;
    height: 86px;	
    padding: 0.7em; /* prevents text jump on Enter keypress */
    padding-bottom: 0.2em;
    outline: none;
    overflow: hidden;
}

.btn_area {
	border-top: 1px solid rgba(202, 205, 212, .26);
	text-align: right;
}

.reply_btn_area {
	text-align: left;
}

.btn_comment_add, .btn_reply_cancel {
	margin: 7px;
}

/* ------------------ 게시물 상세보기 페이지 끝 ------------------ */

/* 내 연차 현황 페이지 */

.year {
	display: flex;
	justify-content: center;
}

.past, .futuer {
	cursor: pointer;
	margin: 0 7px;
}

.annual_status {
	margin-bottom: 70px;
}

.annual_status td:nth-of-type(2), .annual_status td:nth-of-type(3) {
	border: 1px solid #D7DADF;
}

.ann_reason {
	 height: 145px;
	 border: 1px solid rgba(68, 69, 91, .37);
	 padding: 12px 9px;  
}

.close_area {
	text-align: right;
	margin-top: 13px;
}


h4.main_tit {
	margin-bottom: 8px;
}

/* ------------------ 내 연차 현황 페이지 끝 ------------------ */

/* 부재설정-부재이력 페이지 */
.add_area {
	border-top: 1px solid #44455B;
	padding-top: 10px;
	margin-top: 70px;
}

.tbl_common .tbl_wrap.abs_table {
	border-top: 1px solid #D7DADF;
}
	
.tbl_common .abs_table .tbl_ctn tr:nth-child(1) {
	border-bottom: 1px solid #44455B;
}

#popDetailAbsence, #popListAbsence {
	max-width: 650px;
}

.absence_status {
	margin-top: 30px;
	min-height: 265px;
}

.absence_detail {
	margin-bottom: 30px;
}

/* ------------------ 부재설정-부재이력 페이지 끝 ------------------ */

/* 부재 추가 페이지 */
.tbl_common.tbl_basic .tbl_wrap .tbl_ctn.abs_set tr td:nth-of-type(1) {
	background: #D7DADF;
	padding-left: 36px;
	font-weight: bold;
}

.abs_peroid {
	display: flex;
}

.part1 {
	padding-right: 7px;
}

.part2 {
	padding-left: 7px;
}

.add_presence {
	padding-top: 20px;
}

.note {
	width: 350px;
	height: 100px;
}

.btnSet {
	padding-top: 25px;
}

.abs_cancel {
	padding: 0 20px;
}

/* ------------------부재이력-부재추가페이지 끝 ------------------ */

/* 개인정보 설정페이지 */