@charset "UTF-8";

.tit_rel {
	position: relative;
}

.tit_abs {
	position: absolute;
	top: 0px;
	left: 110px;
}

.tit_abs2 {
	position: absolute;
	top: 0px;
	left: 130px;
}

.notice_icon {
	color: #bfbfbf;
	display: inline-block;
	font-size: 37px;
	width: 40px;
	text-align: center;
}

.notice_cnt {
	padding-left: 5px;
	display: inline-block;
}

.notice_type, .notice_content, .notice_suffix {
	color: #44455B;
} 

.notice_time {
	color: #908d8d;
}

.notice_name, .notice_time {
	font-weight: normal;
	font-size: 12px;
}

.readcheck {
	color: #ddd;
}

.loginbox {
	border: 1px solid rgba(0, 0, 0, 0.12);;
	margin: 10% auto;
	margin-bottom: 17px;
	width: 500px;
	height: 400px;
}

.loginlogo {
	width: 220px;
	margin: 0 auto;
	margin-top: 70px;
	margin-bottom: 20px;
}

.loginlogo > img {
	width : 100%;
}

.loginform {
	width: 330px;
	margin: 0 auto;
}

.loginid, .loginpwd {
	margin: 5px 0;
}

#userId, #userPwd {
	width: 100%;
	height: 40px;
}

#loginbtn {
	background-color: #44455B;
	border-color: #44455B;
	width: 330px;
	margin: 0 0;
}

#loginbtn:hover {
	background-color: #CB7999;
	color: #fff;
	border-color: #CB7999;
}

.savelogin {
	width: 330px;
	margin: 10px auto;
}

#saveid {
	position: relative;
	top: 2.5px;
}

#saveid + label {
	font-size: 12px;
}

.logincopyright {
	text-align: center;
	color: rgba(0, 0, 0, 0.38);
	font-size: 10px;
}

#notice-nocnt {
	text-align:center; 
	padding: 100px 0;
	font-weight: bold;
	font-size: 20px;
}